<div class="container centered-container mt-5">
  <div class="col-md-6">
    <div class="card mb-4">
        <img src="{{achievements.image_url}}" class="img-size card-img-top" alt="{{achievements.title}}">
        <div class="card-body">
          <p>{{achievements.full_content}}</p>
          <a href="/#achiev" class="btn btn-secondary">Вернуться назад</a>
        </div>
      </div>
    </div>
  </div>
</div>