<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Панель администратора</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="text-dark form-container">
      <div class="container mt-5">
        <h1>Панель администратора</h1>
        <button onclick="window.location.href='/admin/edit_achievements'" class="btn btn-primary">Управлять достижениями</button>
        <button onclick="window.location.href='/admin/edit_services'" class="btn btn-primary">Управлять услугами</button>
        <a href="/" class="btn btn-primary">Вернуться назад</a>
      </div>
    </div>
  </div>
</body>
</html>
